[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

tensorflow = "*"
numpy = "*"
google-image-extractor = "*"
scikit-learn = "*"
sklearn = "*"
scipy = "*"
imageio = "*"
pandas = "*"


[dev-packages]

